@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GuideMe</title>
   


    <!-- Favicon -->
    <link href="~/icon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/main/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/main/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/main/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/main/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/main/css/style.css" rel="stylesheet">

    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

</head>
<body>

 


    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->



    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
           
            <a asp-controller="Home" asp-action="Index" class="navbar-brand p-0">
                <h3 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>GuideMe</h3>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/Main/Home/Index" class="nav-item nav-link active">Home</a>
                    <a href="/main/Trip/index" class="nav-item nav-link">Trips</a>
                    <a href="service.html" class="nav-item nav-link">Services</a>
                    <a href="about.html" class="nav-item nav-link">About</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="destination.html" class="dropdown-item">Destination</a>
                            <a href="booking.html" class="dropdown-item">Booking</a>
                            <a href="team.html" class="dropdown-item">Travel Guides</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="/main/home/notFoundPage" class="dropdown-item">404 Page</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
        
              
                @if (User is not null && User.Identity.IsAuthenticated)
                {
                   
                    @* <a class="nav-item nav-link fw-bolder" href="/Profile/Profile/Index">@User.Identity.Name <i class="bi-person-fill me-1 text-lg"></i></a>
                    <a href="/identity/Account/Logout" class="btn btn-danger rounded-pill py-2 px-4">Logout</a> *@
                        <div class="nav-item dropdown ms-3 position-relative" id="userDropdown">
                            <a href="#" class="nav-link dropdown-toggle d-flex align-items-center px-2" aria-expanded="false">
                            @if (user.ProfileImage is not null || user.ProfileImage.Length>0||user.ProfileImage != "")
                            {
                                 <img src="~/identity/Profile/@user.ProfileImage" alt="User"
                                    class="rounded-circle me-2 border border-1 border-white shadow-sm"
                                    style="width: 35px; height: 35px; object-fit: cover;">
                            }
                            <span class="fw-bolder">@User.Identity.Name</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end shadow border-0 rounded-3 mt-2 py-2 user-dropdown-menu" style="min-width: max-content;">
                                <div class="px-3 py-2 border-bottom d-flex align-items-center">
                                @if (user.ProfileImage is not null || user.ProfileImage.Length > 0 || user.ProfileImage != "")
                                {
                                      <img src="~/identity/Profile/@user.ProfileImage" alt="User"
                                        class="rounded-circle me-2" style="width: 36px; height: 36px; object-fit: cover;">

                                }
                              
                                    <div>
                                        <h6 class="mb-0 fw-semibold">@User.Identity.Name</h6>
                                        <small class="text-muted">@user.Role</small>
                                    </div>
                                </div>
                                <a href="/Profile/Profile/Index" class="dropdown-item d-flex align-items-center py-2">
                                    <i class="bi bi-person-circle me-2 text-primary"></i> My Profile
                                </a>
                                <a href="/admin" class="dropdown-item d-flex align-items-center py-2">
                                    <i class="bi bi-speedometer2 me-2 text-secondary"></i> Dashboard
                                </a>
                                <a href="/Profile/Profile/Index" class="dropdown-item d-flex align-items-center py-2">
                                    <i class="bi bi-gear-fill me-2 text-info"></i> Settings
                                </a>
                                <hr class="dropdown-divider">
                                <a href="/Identity/Account/Logout" class="dropdown-item d-flex align-items-center text-danger py-2">
                                    <i class="bi bi-box-arrow-right me-2"></i> Logout
                                </a>
                            </div>
                        </div>



                  
                }
                else
                {
                    <a href="/identity/Account/VisitorRegister" class="btn btn-primary rounded-pill py-2 px-4 mx-2">Register</a>
                    <a href="/identity/Account/Login" class="btn btn-secondary rounded-pill py-2 px-4">Login</a>

                }

            </div>
        </nav>

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white mb-3 animated slideInDown">Enjoy Your Vacation With Us</h1>
                        <p class="fs-4 text-white mb-4 animated slideInDown">Tempor erat elitr rebum at clita diam amet diam et eos erat ipsum lorem sit</p>
                        @* <div class="position-relative w-75 mx-auto animated slideInDown">
                            <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Eg: Thailand">
                            <button type="button" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Search</button>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar & Hero End -->



   <div class="container my-5 ">

   </div>

    <div class="container">
        @RenderBody()
    </div>



    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-1 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Company</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">FAQs & Help</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
               
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Newsletter</h4>
                    <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/main/lib/wow/wow.min.js"></script>
    <script src="~/main/lib/easing/easing.min.js"></script>
    <script src="~/main/lib/waypoints/waypoints.min.js"></script>
    <script src="~/main/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/main/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/main/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/main/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/main/js/main.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
